*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    /* pages will not overlap, scrollbar if comes will be hidden */
    background-color: #0A3CCE;
}


@font-face{
    font-family: a;
    src: url(./fonts/jost-variable.ttf);
}

@font-face{
    font-family: b;
    src: url(./fonts/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}

@font-face{
    font-family: c;
    src: url(./fonts/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
    position: absolute;
    height: 14vh;
    width: 100vw;
}

#icon-div img{
    width: 60px;
}

#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-family: a;
    font-size: 15px;
}

#bottom-page1{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 12%;
    left: 10%;
    color: white;
    gap: 6vh;
    font-family: "Jost";
    font-weight: 200;
}

.headings{
    font-size: 50px;
    line-height: 1;
}

.info{
    display: flex;
    gap: 60px;
    align-items: end;
}

.info button{
    background-color: white;
    border: none;
    padding: 18px 50px;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
.para{
    font-size: 20px;
}

#page2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(44, 39, 39);
    font-family: Jost;
    color: white;
    padding: 0vw 10vw;
    gap: 2.5vw;
    background-color: #0A3CCE;
    position: relative;
}

#page2 h3{
    text-transform: uppercase;
}

#page2 h1{
    font-size: 4vw;
    line-height: 1.3;
    color: #dadada69;
}


#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page3>canavs{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page4{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    color: white;
    font-family: Jost;
    padding: 0vw 10vw;
}

#page4 h3{
    text-transform: uppercase;
}

#page4 h1{
    font-size: 4vw;
    line-height: 1.3;
    color: #dadada69;
    margin-top: 5vh;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page5 canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}